<template>
  <div id="app">

    <vs-prompt @cancel="cerrarDialog" @accept="guardarDatos" @close="cerrarDialog" title="EDITAR PAIS" color="warning"
      :active.sync="dialogFormEditar">
      <div class="con-exemple-prompt">
        <vs-input label-placeholder="Nombre Pais" v-model="pais.name" />
        <vs-input label-placeholder="Capital" v-model="pais.capital" />
        <vs-input label-placeholder="Región" v-model="pais.region" />
        <vs-input label-placeholder="Subregión" v-model="pais.subregion" />
      </div>
    </vs-prompt>

    <vs-row vs-justify="center">
      <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="6">
        <vs-card>
          <div slot="header">
            <h3>
              PAISES
            </h3>
          </div>
          <vs-table :data="paises">
            <template slot="header">
              <h3>Detalle Paises</h3>
            </template>
            <template slot="thead">
              <vs-th>Nro</vs-th>
              <vs-th>Nombre Pais</vs-th>
              <vs-th>Capital</vs-th>
              <vs-th>Región</vs-th>
              <vs-th>Subregión</vs-th>
              <vs-th>Opciones</vs-th>
            </template>

            <template slot-scope="{data}">
              <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                <vs-td>
                  {{indextr + 1}}
                </vs-td>
                <vs-td :data="data[indextr].name">
                  {{data[indextr].name}}
                </vs-td>
                <vs-td :data="data[indextr].capital">
                  {{data[indextr].capital}}
                </vs-td>
                <vs-td :data="data[indextr].region">
                  {{data[indextr].region}}
                </vs-td>
                <vs-td :data="data[indextr].subregion">
                  {{data[indextr].subregion}}
                </vs-td>
                <vs-td>
                  <vs-button radius color="warning" type="filled" icon="edit" @click="editarPais(indextr)"></vs-button>
                  <vs-button radius color="danger" type="filled" icon="delete" @click="borrarPais(indextr)"></vs-button>
                </vs-td>
              </vs-tr>
            </template>
          </vs-table>

        </vs-card>
      </vs-col>
    </vs-row>

  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      paises: [],
      pais: {},
      dialogFormEditar: false,
      indexPais: null
    }
  },
  async mounted() {
    const listaPaises = this.$storage.get('paises');
    if(listaPaises){
      this.paises = listaPaises;
    }else {
      const { data } = await this.$service.get('http://restcountries.eu/rest/v2/all');
      this.paises = data.slice(0, 15);
    }
  },
  methods: {
    editarPais (index) {
      this.indexPais = index;
      this.pais = { ...this.paises[index] };
      this.dialogFormEditar = true
    },
    borrarPais (index) {
      this.paises.splice(index, 1);
      this.$storage.set('paises', this.paises);
    },
    cerrarDialog () {
      this.dialogFormEditar = false;
    },
    guardarDatos () {
      this.paises[this.indexPais] = { ...this.pais };
      const paisesParcial = [...this.paises];
      this.paises = null;
      this.paises = paisesParcial;
      this.$storage.set('paises', this.paises);
      this.dialogFormEditar = false;
    }
  }
}
</script>